bandit
cfenv
codeclimate-test-reporter
coverage
dj-database-url
Django
django-filter
django-markdown-deux
djangorestframework
djangorestframework-csv
factory_boy
httmock
markdown
newrelic
Pillow
pip-tools
poirot
psycopg2
pycodestyle
PyJWT
pytest
pytest-cov
pytest-django
requests
whitenoise
