codeclimate-test-reporter
coverage
dj-database-url
Django
django-filter
django-floppyforms
django-markdown-deux
djangorestframework
djangorestframework-csv
factory_boy
httmock
pep8
Pillow
pip-tools
poirot
psycopg2
PyJWT
pytest
pytest-cov
pytest-django
requests
whitenoise
