blockquote {
  border-left: 1px solid black;
  padding-left: 10px;
}

.astronaut {
  background-image: url('../img/astronaut.jpg');
}

.usa-nav-submenu {
  box-shadow: 0 2px 3px #3e94cf, 0 2px 5px #3e94cf;
}

/* Forms */
.required {
  border-left: 5px solid #3e94cf;
  padding-left: 5px;
}

.helptext {
  font-size: 90%;
  font-style: italic;
}

.form-sidebar {
  padding-top: 3rem;
}

/* Buys */

.acq-documents {
  margin-bottom: 1.5em;
}

.acq-documents > div {
  background-color: #e4e4e4;
  padding: 25px;
}

/* Team */

.teammateName {
  font-weight: bold;
}

@media screen and (min-width: 600px) {
  .teammateRight {
    height: 96px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

/* Modals */

.dialog[aria-hidden="true"] {
  display: none;
}

.dialog-overlay {
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.66);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.dialog-content {
  background-color: rgb(255, 255, 255);
  z-index: 3;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
