blockquote {
  border-left: 1px solid black;
  padding-left: 10px;
}

.astronaut {
  background-image: url('../img/astronaut.jpg');
}

.teammateName {
  font-weight: bold;
}

@media screen and (min-width: 600px) {
  .teammateRight {
    height: 96px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
