{% extends "web/base.html" %}

{% block content %}
  <div class="usa-width-one-full">
    <h1>Team</h1>
    <div id="team">

    </div>
  </div>
  <script type="text/javascript">
    function createTeammate(name, role) {
      // Create a div element with information about the teammate
      let div = document.createElement("div");
      div.className = 'usa-width-one-half';
      let teammateName = document.createElement('div');
      let nameContent = document.createTextNode(name);
      teammateName.appendChild(nameContent);
      teammateName.className = 'teammateName';
      let teammateRole = document.createElement('div');
      let roleContent = document.createTextNode(role);
      teammateRole.appendChild(roleContent);
      teammateRole.className = 'teammateRole';
      div.appendChild(teammateName);
      div.appendChild(teammateRole);
      return div
    }
    document.addEventListener("DOMContentLoaded", function(event) {
      let team = document.getElementById('team');
      let r = new XMLHttpRequest();
      r.open("GET", "/team/api/people", true);
      r.onreadystatechange = function () {
        if (r.readyState != 4 || r.status != 200) return;
        var jsonResponse = JSON.parse(r.responseText);
        let count = 0;
        if (jsonResponse.length > 0) {
          for (const person of jsonResponse) {
            count += 1;
            if (count % 2 === 1) {
              // Create a new USWDS grid and add the div if this is an element
              // in the first column
              var grid = document.createElement('div');
              grid.className = 'usa-grid-full';
              grid.appendChild(createTeammate(person.name, person.role));
            } else {
              // Add an element and close the grid row if this is an element
              // in the second column
              grid.appendChild(createTeammate(person.name, person.role));
              team.appendChild(grid);
            }
          }
        } else {
          let div = document.createElement("div");
          let content = document.createTextNode("No public team members");
          div.appendChild(content);
          team.appendChild(div);
        }
      };
      r.send();
    });
  </script>
{% endblock %}
