{% extends "web/base.html" %}

{% block content %}
<section class="usa-grid">
  <div class="usa-width-one-full">
    <h1>{{ buy.name }}</h1>
    {% if buy.is_private %}<div>This buy is not yet public.</div>{% endif %}
    <h2>Description</h2>
    <div id="description">
      {{ buy.description }}
    </div>
    <h2>Documents</h2>
    <div class="" id="acquisition-plan">
      <h3>Acquisition Plan</h3>
      <p>Status: {{ buy.acquistition_plan_status }}</p>
      {% if buy.acquisition_plan %}
      <p>View | Download | Regenerate</p>
      {% else %}
      <p>Generate</p>
      {% endif %}
    </div>
    <div class="" id="qasp">
      <h3>QASP</h3>
      <p>Status: {{ buy.qasp_status }}</p>
      {% if buy.qasp %}
      <p><a class="usa-button" href="{% url 'buys:qasp' buy.id %}">View</a><a class="usa-button" href="{% url 'buys:qasp_download' buy.id %}">Download</a></p>
      <hr />
      {% if perms.project.view_private %}{% include "projects/includes/qasp_form.html" %}{% endif %}
      {% else %}
      {% if perms.project.view_private %}{% include "projects/includes/qasp_form.html" %}{% endif %}
      {% endif %}
    </div>
  </div>
</section>
{% endblock %}
