{% extends "web/base.html" %}
{% load static from staticfiles %}
{% load document_tags %}

{% block resources %}
  <script src="{% static "js/a11y-dialog.min.js" %}"></script>
{% endblock %}

{% block content %}
{% if user in buy.technical_evaluation_panel.all and not user in buy.nda_signed.all %}
<div class="usa-alert usa-alert-warning">
  <div class="usa-alert-body">
    <h3 class="usa-alert-heading">You need to sign the NDA</h3>
    <p class="usa-alert-text">As a member of the technical evaluation panel, you'll need to sign the NDA before this buy can be issued. <a href="{% url 'buys:buy_nda' buy.id %}">Sign the NDA here</a>.</p>
  </div>
</div>
{% endif %}
<section class="usa-grid">
  <div class="usa-width-one-full">
    <h1>{{ buy.name }}</h1>
    {% if buy.is_private %}<div>This buy is not yet public.</div>{% endif %}
    <h2>Description</h2>
    <div id="description">
      {{ buy.description }}
    </div>
    <h2>Details</h2>
    <table class="usa-table-borderless">
      <tbody>
        <tr>
          <th scope="row">Status</th>
          <td>{{ buy.status }}</td>
        </tr>
        <tr>
          <th scope="row">Procurement Method</th>
          <td>{{ buy.get_procurement_method_display }}</td>
        </tr>
        <tr>
          <th scope="row">Set-Aside</th>
          <td>{{ buy.set_aside_status }}</td>
        </tr>
        <tr>
          <th scope="row">Posted on</th>
          <td>{{ buy.issue_date }}</td>
        </tr>
        <tr>
          <th scope="row">Questions due by</th>
          <td>{{ buy.questions_due_by }}</td>
        </tr>
        <tr>
          <th scope="row">Submissions due by</th>
          <td>{{ buy.submissions_due_by }}</td>
        </tr>
      </tbody>
    </table>
    {% for doc in documents %}
    {% if forloop.first %}<h2>Documents</h2>{% endif %}
      {% if forloop.counter0|divisibleby:"2" %}<div class="usa-grid-full acq-documents">{% endif %}
        <div class="usa-width-one-half" id="{{ doc }}">
          <h3>{{ doc|title_format }}</h3>
          {% if buy|has_document:doc %}
          <p><a href="{% url 'buys:document' buy.id doc %}">View</a></p>
          <p>Download: <a href="{% url 'buys:download' buy.id doc 'markdown' %}">.md</a> | <a href="{% url 'buys:download' buy.id doc 'docx' %}">.docx</a> | <a href="{% url 'buys:download' buy.id doc 'pdf' %}">.pdf</a></p>
          {% if perms.project.view_project %}
          <button onclick="connectButtons(this)" type="submit" name="generate_{{ doc }}" data-a11y-dialog-show="confirm-dialog">Regenerate</button>
          {% endif %}
          {% else %}
          {% if perms.project.view_project %}
          <form method="post">
            {% csrf_token %}
            <button type="submit" name="generate_{{ doc }}">Generate</button>
          </form>
          {% endif %}
          {% endif %}
        </div>
      {% if not forloop.counter0|divisibleby:"2" %}</div>{% endif %}
    {% if forloop.last %}</div>{% endif %}
    {% endfor %}
</section>
{% endblock %}

{% block modals %}
<div id="confirm-dialog" class="dialog" aria-hidden="true">
  <div class="dialog-overlay" tabindex="-1" data-a11y-dialog-hide>
    <div class="dialog-content" aria-labelledby="dialogTitle" aria-describedby="dialogDescription" role="dialog">
      <div role="document">
        <h1 id="dialogTitle" tabindex="0">Regenerate document</h1>

        <p id="dialogDescription">Regenerating will overwrite the existing document, including any changes made. Are you sure?</p>

        <form action="" method="post" target="_blank">
          {% csrf_token %}
          <button type="submit" name="button" id="confirm-button">I'm sure</button>
        </form>
        <button data-a11y-dialog-hide class="dialog-close" title="Close registration form">&times;</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  var dialogEl = document.getElementById('confirm-dialog');
  var dialog = new A11yDialog(dialogEl);
  function connectButtons(el) {
    // Sets the form submission name based on the specific "regenerate" button clicked
    const confirm = document.getElementById('confirm-button');
    confirm.name = el.name
  }
</script>
{% endblock %}
