{% extends "web/base.html" %}

{% block content %}
<section class="usa-grid">
  <div class="usa-width-one-full">
    <h1>Buys</h1>
    {% if perms.projects.view_project %}<div>Showing: <strong>public</strong> and <strong>non-public</strong> buys</div>{% endif %}
    <h2>Planning</h2>
    <div id="planning">

    </div>
    <h2>Out for Bid</h2>
    <div id="posted">

    </div>
    <h2>Awarded</h2>
    <div id="awarded">

    </div>
    <h2>Delivered</h2>
    <div id="delivered">

    </div>
  </div>
</section>
<script type="text/javascript">
  function createBuy(buy) {
    // Create a div element with information about the buy
    let div = document.createElement('div');
    div.id = 'buy-'+buy.id;
    let buyName = document.createElement('h3');
    let buyLink = document.createElement('a');
    buyLink.href = '/buys/'+buy.id;
    let nameContent = document.createTextNode(buy.name);
    buyLink.appendChild(nameContent);
    buyName.appendChild(buyLink);
    buyName.className = 'buyName';
    let buyType = document.createElement('p');
    let typeContent = document.createTextNode('Type: '+buy.procurement_method)
    buyType.appendChild(typeContent);
    let buyDescription = document.createElement('p');
    let descriptionContent = document.createTextNode(buy.description);
    buyDescription.appendChild(descriptionContent);
    buyDescription.className = 'buyDescription';
    div.appendChild(buyName);
    div.appendChild(buyType);
    div.appendChild(buyDescription);
    return div
  }
  const statuses = {
    "Planning": document.getElementById('planning'),
    "Out for Bid": document.getElementById('posted'),
    "Awarded": document.getElementById('awarded'),
    "Delivered": document.getElementById('delivered')
  }
  const r1 = new XMLHttpRequest();
  r1.open("GET", "/api/buys/", true);
  r1.onreadystatechange = function () {
    if (r1.readyState != 4 || r1.status != 200) return;
    var jsonResponse = JSON.parse(r1.responseText);
    if (jsonResponse.length > 0) {
      for (let buy of jsonResponse) {
        const state = statuses[buy.status];
        state.appendChild(createBuy(buy));
      }
    } else {
      let div = document.createElement("div");
      let content = document.createTextNode("No public buys");
      div.appendChild(content);
      current.appendChild(div);
    }
  };
  r1.send();
</script>
{% endblock %}
