{% extends "web/base.html" %}

{% block content %}
<section class="usa-grid">
  <div class="usa-width-one-full">
    <h1>{% if project %}Edit: {{ project.name }}{% else %}Create Project{% endif %}</h1>
    <form class="" action="{{ project.get_absolute_url }}edit/" method="post">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <div class="{% if form.name.field.required %}required{% endif %}">
        {{ form.name.errors }}
        {{ form.name.label_tag }}
        {{ form.name }}
      </div>
      <div class="{% if form.description.field.required %}required{% endif %}">
        {{ form.description.errors }}
        {{ form.description.label_tag }}
        {{ form.description }}
      </div>
      <div class="{% if form.project_type.field.required %}required{% endif %}">
        {{ form.project_type.errors }}
        {{ form.project_type.label_tag }}
        {{ form.project_type }}
      </div>
      <div class="{% if form.iaa.field.required %}required{% endif %}">
        {{ form.iaa.errors }}
        {{ form.iaa.label_tag }}
        {{ form.iaa }}
      </div>
      <div class="">
        IAA budget available: {{ project.iaa.budget_remaining }}
      </div>
      <div class="{% if form.cogs_amount.field.required %}required{% endif %}">
        {{ form.cogs_amount.errors }}
        {{ form.cogs_amount.label_tag }}
        {{ form.cogs_amount }}
      </div>
      <div class="{% if form.non_cogs_amount.field.required %}required{% endif %}">
        {{ form.non_cogs_amount.errors }}
        {{ form.non_cogs_amount.label_tag }}
        {{ form.non_cogs_amount }}
      </div>
      <div class="{% if form.team_members.field.required %}required{% endif %}">
        {{ form.team_members.errors }}
        {{ form.team_members.label_tag }}
        {{ form.team_members }}
      </div>
      <div class="{% if form.public.field.required %}required{% endif %}">
        {{ form.public.errors }}
        {{ form.public }}
        <label for="{{ form.public.id_for_label }}">{{ form.public.label }}</label>
      </div>
      <input type="submit" value="Submit" />
    </form>
  </div>
</section>
{% endblock %}
