{% extends "web/base.html" %}

{% block content %}
<section class="usa-grid">
  <div class="usa-width-one-full">
    <h1>{% if project %}Edit: {{ project.name }}{% else %}Create Project{% endif %}</h1>
    <form class="" action="/projects/create" method="post">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <div class="">
        {{ form.name.errors }}
        {{ form.name.label_tag }}
        {{ form.name }}
      </div>
      <div class="">
        {{ form.description.errors }}
        {{ form.description.label_tag }}
        {{ form.description }}
      </div>
      <div class="">
        {{ form.project_type.errors }}
        {{ form.project_type.label_tag }}
        {{ form.project_type }}
      </div>
      <div class="">
        {{ form.iaa.errors }}
        {{ form.iaa.label_tag }}
        {{ form.iaa }}
      </div>
      <div class="">
        {{ form.dollars.errors }}
        {{ form.dollars.label_tag }}
        {{ form.dollars }}
      </div>
      <div class="">
        {{ form.team_members.errors }}
        {{ form.team_members.label_tag }}
        {{ form.team_members }}
      </div>
      <div class="">
        {{ form.public.errors }}
        {{ form.public }}
        <label for="{{ form.public.id_for_label }}">{{ form.public.label }}</label>
      </div>
      <div class="">
        {{ form.active.errors }}
        {{ form.active }}
        <label for="{{ form.active.id_for_label }}">{{ form.active.label }}</label>
      </div>
      <input type="submit" value="Submit" />
    </form>
  </div>
</section>
{% endblock %}
