{% extends "web/base.html" %}

{% block content %}
<section class="usa-grid">
  <div class="usa-width-one-full">
    <h1>{% if iaa %}Edit: {{ iaa.id }}{% else %}Create IAA{% endif %}</h1>
    <form class="" action="/iaas/create" method="post">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <div class="{% if form.id.field.required %}required{% endif %}">
        {{ form.id.errors }}
        {{ form.id.label_tag }}
        {{ form.id }}
      </div>
      <div class="{% if form.client.field.required %}required{% endif %}">
        {{ form.client.errors }}
        {{ form.client.label_tag }}
        {{ form.client }}
      </div>
      <div class="{% if form.signed_on.field.required %}required{% endif %}">
        {{ form.signed_on.errors }}
        {{ form.signed_on.label_tag }}
        {{ form.signed_on }}
      </div>
      <div class="{% if form.expires_on.field.required %}required{% endif %}">
        {{ form.expires_on.errors }}
        {{ form.expires_on.label_tag }}
        {{ form.expires_on }}
      </div>
      <div class="{% if form.dollars.field.required %}required{% endif %}">
        {{ form.dollars.errors }}
        {{ form.dollars.label_tag }}
        {{ form.dollars }}
      </div>
      <div class="{% if form.authority.field.required %}required{% endif %}">
        {{ form.authority.errors }}
        {{ form.authority.label_tag }}
        {{ form.authority }}
      </div>
      <input type="submit" value="Submit" />
    </form>
  </div>
</section>
{% endblock %}
