{% extends "web/base.html" %}
{% load humanize %}

{% block content %}
<section class="usa-grid">
  <div class="usa-width-one-full">
  <table>
    <thead>
      <th>Client</th>
      <th>Total</th>
      <th>Allocated</th>
      <th>COGS</th>
      <th>Non-COGS</th>
    </thead>
    <tbody>
      {% for doc in docs %}
        <tr>
          <td>{{ doc.client }}</td>
          <td>${{ doc.budget|intcomma }}</td>
          <td>${{ doc.allocated|intcomma }}</td>
          <td>${{ doc.total_cogs|intcomma }}</td>
          <td>${{ doc.total_non_cogs|intcomma }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
</section>
{% endblock %}
