{% extends "web/base.html" %}

{% block content %}
<section class="usa-grid">
  <div class="usa-width-one-full">
    <h1>Projects</h1>
    {% if perms.projects.view_project %}<p>Showing: <strong>public</strong> and <strong>non-public</strong> projects</p>{% endif %}
    <p class="">
      A project is an engagement with a client geared towards accomplishing a particular goal, and may include one or more buys.
    </p>
    <h2>Current</h2>
    <div id="current">

    </div>
  </div>
</section>
<script type="text/javascript">
  function createProject(project) {
    // Create a div element with information about the project
    let div = document.createElement('div');
    div.id = 'project-'+project.id;
    let projectName = document.createElement('h3');
    let projectLink = document.createElement('a');
    projectLink.href = '/projects/'+project.id;
    let nameContent = document.createTextNode(project.name);
    projectLink.appendChild(nameContent);
    projectName.appendChild(projectLink);
    projectName.className = 'projectName';
    let projectDescription = document.createElement('div');
    let descriptionContent = document.createTextNode(project.description);
    projectDescription.appendChild(descriptionContent);
    projectDescription.className = 'projectDescription';
    div.appendChild(projectName);
    div.appendChild(projectDescription);
    return div
  }
  function createBuy(buy) {
    // Check for project buy wrapper div
    let wrapper = document.getElementById('project-'+buy.project.id+'-buy-wrapper');
    let project = document.getElementById('project-'+buy.project.id)
    if (!wrapper) {
      wrapper = document.createElement('div');
      wrapper.id = 'project-'+buy.project.id+'-buy-wrapper';
      wrapper.className = 'usa-grid';
      let sidebarWrapper = document.createElement('div');
      sidebarWrapper.className = 'usa-width-one-sixth';
      let sidebar = document.createElement('div');
      let sidebarTitle = document.createElement('h4');
      let sidebarContent = document.createTextNode('Buys');
      sidebarTitle.appendChild(sidebarContent);
      sidebar.appendChild(sidebarTitle);
      sidebarWrapper.appendChild(sidebar);
      let main = document.createElement('div');
      main.className = 'usa-width-five-sixths';
      wrapper.appendChild(sidebarWrapper);
      wrapper.appendChild(main);
      project.appendChild(wrapper);
    }
    // Create buy div
    let buyDiv = document.createElement('div');
    let buyName = document.createElement('h5');
    let nameContent = document.createTextNode(buy.name);
    buyName.appendChild(nameContent);
    let buyDescription = document.createElement('div');
    let descriptionContent = document.createTextNode(buy.description);
    buyDescription.appendChild(descriptionContent);
    buyDiv.appendChild(buyName);
    buyDiv.appendChild(buyDescription);
    wrapper.childNodes[1].appendChild(buyDiv);
  }
  document.addEventListener("DOMContentLoaded", function(event) {
    let current = document.getElementById('current');
    let r1 = new XMLHttpRequest();
    r1.open("GET", "/api/projects/", true);
    r1.onreadystatechange = function () {
      if (r1.readyState != 4 || r1.status != 200) return;
      var jsonResponse = JSON.parse(r1.responseText);
      if (jsonResponse.length > 0) {
        for (const project of jsonResponse) {
          current.appendChild(createProject(project));
        }
      } else {
        let div = document.createElement("div");
        let content = document.createTextNode("No public projects");
        div.appendChild(content);
        current.appendChild(div);
      }
    };
    r1.send();
    let r2 = new XMLHttpRequest();
    r2.open("GET", "/api/buys/", true);
    r2.onreadystatechange = function () {
      if (r2.readyState != 4 || r2.status != 200) return;
      var jsonResponse = JSON.parse(r2.responseText);
      for (const buy of jsonResponse) {
        createBuy(buy);
      }
    }
    r2.send();
  });
</script>
{% endblock %}
