{% extends "web/base.html" %}

{% block content %}
<div class="usa-width-one-full">
  <section class="usa-grid">
    <h1>Guides</h1>
    <p><a href="https://modularcontracting.18f.gov/about/">Modular Contracting</a></p>
    <p><a href="https://pages.18f.gov/state-faq/">State Frequently Asked Questions</a></p>
    <p><a href="https://pages.18f.gov/digital-acquisition-playbook/">Digital Acquisitions Playbook</a></p>
    <p><a href="https://pages.18f.gov/contracting-cookbook/">Digital Contracting Cookbook</a></p>
    <p><a href="https://pages.18f.gov/partnership-playbook/">Partnership Playbook</a></p>
  </section>
</div>
{% endblock %}
