{% extends "web/base.html" %}

{% block content %}
<section class="usa-hero astronaut">
  <div class="usa-grid">
    <div class="usa-hero-callout usa-section-dark">
      <h2><span class="usa-hero-callout-alt">Agile Delivery Services BPA:</span> Making Procurements Joyful</h2>
      {# <a class="usa-hero-link" href="https://pages.18f.gov/ads-bpa">Current BPA orders</a>#}
      <a class="usa-button usa-button-big usa-button-secondary" href="https://pages.18f.gov/ads-bpa">See current task orders</a>
    </div>
  </div>
</section>
<section class="usa-grid">
  <div class="usa-width-one-full">
    <h1>The Latest</h1>
    {% for post in posts %}
    <h2>{{ post.title }}</h2>
    <p class="post-publication-info">
      <small>Posted on {{ post.publication_date }}<br>by {% for author in post.authors.all %}
        {{ author.get_full_name }}{% if not forloop.last %}, {% endif %}
      {% endfor %}</small>
    </p>
    <div class="post-content">
      {{ post.content }}
      <p><small><a href="{% url 'news:post' post.slug %}">Permalink</a></small></p>
    </div>
    {% empty %}
    <p>No updates yet, but stay tuned!</p>
    {% endfor %}
  </div>
</section>
{% endblock %}
