{% extends "web/base.html" %}

{% block content %}
<section class="usa-grid">
  <div class="usa-width-one-full">
    <h1>{{ user }}</h1>
    <div id="api-token">
      <h2>API Token</h2>
      {% if user.auth_token %}
      <div class="">
        Token: {{ user.auth_token }}
      </div>
      <a class="usa-button" href="/profile/refresh_token/">Refresh token</a>
      {% else %}
      <div class="">
        No API Token
      </div>
      <a class="usa-button" href="/profile/refresh_token/">Get a token</a>
      {% endif %}
    </div>
    <div id="nda-status">
      <h2>Non-Disclosure Agreement</h2>
      <div class="">
        {% if perms.projects.view_project %}
        You've signed the NDA.
        {% else %}
        <a class="usa-button" href="/profile/sign_nda/">Sign the NDA</a>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
